@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body {
            background-color: aliceblue;
        }
    </style>
</head>
<h2>@ViewBag.Title.</h2>

<address>
    Address: Ratika Compartment<br />
    Akshara Pvt.Ltd, WA 98052-6399<br />
    <abbr title="Phone">P</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>