@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body {
            background-color: aliceblue;
        }

        #p1
        {
            background-color: coral
        }
        #p2 {
            background-color: white
        }
        #p3 {
            background-color: mediumseagreen;
        }

        .vision{
            margin-top: 70px;
            width: 500px;
        }
        pre{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<h1>Online Pharmacy System</h1>

<div class="vision">
    <h3>Vision</h3>
    
        <pre id="p1">                  To enable Indian pharmaceuticals industry</pre>
        <Pre id="p2">         To play a leading role in the global market
        and to ensure abundant availability, at 
        reasonable prices within the country, of good</Pre>
        <pre id="p3">                  quality pharmaceuticals of mass consumption.</pre>
    </p>
</div>


<p>Website Content Managed by Department of Pharmaceuticals</p>